---
title: 'Sorry to see you go'
preheader: 'Your account has been deleted'
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p
      class="m-0 font-serif text-2xl font-semibold text-black sm:leading-32 mb-36"
    >
      Sorry you had to leave us.
    </p>
    <p class="m-0 mb-24">
      Your account has been deleted, you will not receive any more emails from
      us.
    </p>
    <table class="w-full">
      <tr>
        <td class="py-32">
          <hr class="border-b-0 border-gray-100" />
        </td>
      </tr>
    </table>
    <p class="m-0 mb-16 text-gray-500">
      Was this a mistake? Email us back and we'll reinstate your account.
    </p>
  </block>
</extends>
