---
title: 'Welcome to the Homies family!'
preheader: 'We have included a copy of your responses below. We will be in touch with
you shortly to help answer any questions you may have about the program.'
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p
      class="m-0 text-2xl font-semibold text-black sm:leading-32 dark-mode:text-white mb-36"
    >
      Congratulations on taking the first step to independence.
    </p>
    <p class="m-0 mb-24">
      We've included a copy of your responses below. We will be in touch with
      you shortly to help answer any questions you may have about the program.
    </p>

    <p class="font-semibold">Your info:</p>
    <ul class="mb-24">
      <li>Name: %NAME%</li>
      <li>Email: %EMAIL%</li>
      <li>Phone: %PHONE%</li>
    </ul>

    <p class="font-semibold">Roommate's info:</p>
    <ul class="mb-24">
      <li>Name: %ROOMMATENAME%</li>
      <li>How do you know your roommate?: %ROOMMATEKNOW%</li>
      <li>Email: %ROOMMATEEMAIL%</li>
    </ul>

    <p class="font-semibold">Housing info:</p>
    <ul class="mb-24">
      <li>Housing: %HOUSING%</li>
      <li>Address: %HOUSINGADDRESS%</li>
    </ul>

    <p class="font-semibold">Final details:</p>
    <ul class="mb-24">
      <li>Reference: %REFERENCE%</li>
      <li>Other details: %MESSAGE%</li>
    </ul>

    <p class="m-0 mb-24">
      If any of the information above is incorrect or incomplete, please reply
      to this email and let us know.
    </p>

    <p class="font-semibold">Next steps:</p>
    <ul class="mb-24">
      <li>
        <a
          target="_blank"
          href="https://calendly.com/meethomies/30min"
          class="text-blue-700 no-underline hover:underline"
          >Schedule a call to see what's next</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100087589933242"
          class="text-blue-700 no-underline hover:underline"
          >Join us on Facebook
        </a>
      </li>
    </ul>

    <p class="m-0 mb-24">Thank you again for your interest in Homies.</p>
    <p class="m-0 mb-24">
      Sincerely,
      <br />
      <span class="font-medium">The Homies Team ❤️</span>
    </p>

    <table class="w-full">
      <tr>
        <td class="py-32">
          <hr class="border-b-0 border-gray-100" />
        </td>
      </tr>
    </table>
    <!-- <p class="m-0 mb-16 text-sm text-gray-500">
      You are receiving this message because you filled out the contact form on
      <a
        href="https://www.meethomies.com"
        target="_blank"
        class="text-blue-600 underline"
        >meethomies.com</a
      >.
    </p> -->
  </block>
</extends>
