<table class="w-full font-sans">
  <tr>
    <td class="px-24 text-xs text-center text-gray-600">
      <p class="m-0 mb-4">
        <a
          href="https://www.meethomies.com"
          target="_blank"
          class="text-blue-500 no-underline hover:underline"
          >Homies (meethomies.com)</a
        >
      </p>
      <p class="m-0 italic">
        California's first shared-living program for adults with disabilities.
      </p>
      <p class="cursor-default">
        <a
          href="mailto:hello@meethomies.com"
          class="text-blue-500 no-underline hover:underline"
          >Send an email</a
        >
        &bull;
        <a
          href="tel:+19512918279"
          class="text-blue-500 no-underline hover:underline"
          >Call us</a
        >

        &bull;

        <a
          href="https://www.facebook.com/profile.php?id=100087589933242"
          target="_blank"
          class="text-blue-500 no-underline hover:underline"
          >Join us on Facebook</a
        >
      </p>
    </td>
  </tr>
</table>
